@charset "UTF-8";
:root {
  --main-color: #9356dc;
  --secondary-color: #ff79da;
  --third-color: #99e2d0;
}

/**** Couleurs ****/
/* Degree Gradient */
/* Loading spinner animation delay */
/* Gradient */
/**** cercle ****/
@keyframes heart-fill {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  15% {
    opacity: 0.25;
  }
  80% {
    opacity: 1;
    transform: scale(1);
  }
  85% {
    opacity: 1;
    transform: scale(1.1);
  }
  95% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes loading-appear {
  50% {
    opacity: 0.95;
  }
  99% {
    z-index: 21;
  }
  100% {
    opacity: 0;
    z-index: -20;
  }
}
@keyframes rotate-gradient {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes icons-appearing {
  0% {
    transform: translateY(-150px);
    opacity: 0;
    animation-timing-function: cubic-bezier(0.5, 0.78, 0.83, 0.67);
  }
  40% {
    transform: translateY(-10px);
    opacity: 1;
  }
  60% {
    transform: translateY(-10px);
    opacity: 1;
  }
  67% {
    transform: rotate(10deg);
  }
  74% {
    transform: rotate(-10deg);
  }
  80% {
    transform: translateY(-10px);
    opacity: 1;
  }
  100% {
    transform: translateY(150px);
    opacity: 0;
    animation-timing-function: cubic-bezier(0.5, 0.78, 0.83, 0.67);
  }
}
@keyframes ustensils-moving {
  0% {
    transform: translateY(-5px);
    animation-timing-function: linear;
  }
  100% {
    transform: translateY(5px);
    animation-timing-function: linear;
  }
}
/* Applique une opacité initiale de 0 à toutes les cartes pour permettre l'animation */
.entrees-card {
  opacity: 0;
  transform: translateY(-20px);
}

/* Animation pour les cartes d'entrées */
.entrees ~ .entrees-card {
  animation: appearEntrance 1.5s ease forwards;
}

/* Animation pour les cartes de plats */
.plats ~ .entrees-card {
  animation: appearPlat 5.5s ease forwards;
}

/* Animation pour les cartes de desserts */
.desserts ~ .entrees-card {
  animation: appearDessert 9.5s ease forwards;
}

@keyframes appearEntrance {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes appearPlat {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes appearDessert {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.loader-container {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #ffffff;
  opacity: 0.95;
  animation: loading-appear 4s both ease-in-out;
  z-index: 21;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-spinner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 290px;
  min-width: 290px;
  height: 290px;
  border-radius: 50%;
  background: linear-gradient(to top, #ae80e5, #ff79da, transparent, transparent);
  z-index: 0;
  animation: rotate-gradient 3s infinite;
}
.loader-spinner::after {
  z-index: 0;
  position: absolute;
  content: "";
  width: 85%;
  height: 85%;
  background-color: #ffffff;
  border-radius: 50%;
}
.loader-spinner__border {
  z-index: -1;
  position: absolute;
  width: 290px;
  height: 290px;
  background-color: #e6e6e6;
  border-radius: 50%;
}
.loader-spinner__plate {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border: 4px solid #666666;
  background-color: #595959;
  margin: 0% 2%;
  border-radius: 50%;
  z-index: 3;
}
.loader-spinner__plate::before {
  position: absolute;
  display: flex;
  width: 93%;
  height: 93%;
  border-radius: 50%;
  border-bottom: 2px solid #ffffff;
  background-color: transparent;
  transform: rotate(-25deg);
  overflow: hidden;
  content: "";
}
.loader-spinner__plate::after {
  position: absolute;
  display: flex;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  border: 4px solid #ffffff;
  background-color: #404040;
  overflow: hidden;
  content: "";
}
.loader-spinner__plate__food1 {
  width: 25%;
  height: 25%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader-spinner__plate__food1::before {
  position: absolute;
  top: 35%;
  right: 31%;
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 40px;
  content: "\f6d7";
  color: #99e2d0;
  transform: translateY(-150px);
  animation: icons-appearing 610ms both;
}
.loader-spinner__plate__food1::after {
  width: auto;
  height: auto;
  z-index: 1;
  position: absolute;
  top: 35%;
  right: 35%;
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 40px;
  content: "\f7fb";
  color: #ffffff;
  transform: translateY(-150px);
  animation: icons-appearing 610ms 610ms both;
}
.loader-spinner__plate__food2 {
  width: 25%;
  height: 25%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader-spinner__plate__food2::before {
  position: absolute;
  top: 35%;
  right: 30%;
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 40px;
  content: "\e4c6";
  color: #ffffff;
  transform: translateY(-150px);
  animation: icons-appearing 610ms 1220ms both;
}
.loader-spinner__plate__food2::after {
  position: absolute;
  top: 30%;
  right: 28%;
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 40px;
  content: "\f79f";
  color: #ff79da;
  transform: translateY(-150px);
  animation: icons-appearing 610ms 1830ms both;
}

body {
  width: 100%;
  margin: 0 auto;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 89px;
}
@media (min-width: 1024px) {
  .title-container {
    display: flex;
    height: 96px;
    padding: 30px 0px 31.798px 0px;
    justify-content: center;
    align-items: center;
  }
}
.title-container__width-image {
  width: 162px;
  height: 44px;
}
@media (min-width: 1024px) {
  .title-container__width-image {
    width: 200px;
    height: 34.202px;
  }
}
.title-container__width-image__police {
  font-family: "roboto", sans-serif;
  font-weight: 700;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  background: var(--Grey-2, #eaeaea);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.exploration {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 287px;
  background-color: #f6f6f6;
}
.exploration__main-title h1 {
  height: 68px;
  text-align: center;
  font-family: "roboto", sans-serif;
  font-weight: 700;
  margin: 38px 58px 0 42px;
}
@media (min-width: 1024px) {
  .exploration__main-title h1 {
    color: #000;
    text-align: center;
    font-family: "Roboto";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
  }
}
.exploration__info {
  flex-wrap: wrap;
  height: 46px;
  margin-left: 34px;
  margin-right: 26px;
  text-align: center;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
}
.exploration__explorer {
  width: 218px;
  height: 50px;
  margin-top: 38px;
  border-radius: 25px;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  padding: 13px 18.75px;
  border: none;
  color: white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.exploration__explorer:hover {
  transform: scale(1.02);
  opacity: 0.83;
  box-shadow: 0 4px 10px 0 #afafaf;
}

.fonctionnement {
  width: 100%;
  height: 440px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .fonctionnement {
    width: 94%;
    height: 228px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 50px;
    padding-left: 90px;
  }
}
.fonctionnement__title-fonctionnement {
  margin-left: 20px;
  margin-top: 48px;
  margin-right: 80px;
  font-family: "Roboto";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
@media (min-width: 1024px) {
  .fonctionnement__title-fonctionnement {
    margin-left: 8%;
    margin-top: 48px;
    margin-right: 80px;
  }
}
.fonctionnement__card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media (min-width: 1024px) {
  .fonctionnement__card-container {
    flex-direction: row;
    justify-content: center;
    width: 90%;
  }
}
.fonctionnement__card {
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  align-items: center;
  display: flex;
  margin-left: 0;
  width: 80%;
  height: 72.3px;
  background-color: #f6f6f6;
  border-radius: 20px;
  margin: 26px 20px 24.92px 32.51px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  justify-content: space-evenly;
}
@media (min-width: 1024px) {
  .fonctionnement__card {
    width: 25%;
    height: 72px;
    display: flex;
    flex-direction: row;
  }
}
.fonctionnement__circle-icon {
  width: 26px; /* Taille du cercle */
  height: 26px; /* Taille du cercle */
  background-color: #9356dc; /*Couleur de fond du cercle */
  color: white; /* Couleur du texte */
  border-radius: 50%; /* Rendre le div en cercle */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -42px;
}

.fa-circle {
  color: #9356dc;
  font-size: 24px;
}

.fa-mobile-screen {
  color: #7e7e7e;
  font-size: 19px;
}

.fa-list {
  color: #7e7e7e;
  font-size: 19px;
}

.fa-store {
  color: #9356dc;
  font-size: 19px;
}

.restaurant {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px 0 66px 0;
  background-color: #f6f6f6;
}
@media (min-width: 1024px) {
  .restaurant {
    padding: 0px 180px;
    padding-bottom: 30px;
  }
}
.restaurant__title {
  width: 90%;
  margin: 20px auto;
  font-family: "Roboto";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.restaurant__bloc {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px;
}
@media (min-width: 1024px) {
  .restaurant__bloc {
    grid-template-columns: repeat(2, 1fr);
    gap: 28px;
  }
}

.restaurant__cards {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 251px;
  border-radius: 15px;
  background-color: white;
}
@media (min-width: 1024px) {
  .restaurant__cards {
    height: 251px;
  }
}
.restaurant__cards:hover {
  box-shadow: 0 4px 10px 0 #bcbcbc;
}
.restaurant__cards--img {
  position: relative;
  overflow: hidden;
  height: 175px;
  border-radius: 15px 15px 0px 0px;
}
.restaurant__cards--img img {
  width: 100%;
  height: 175px;
  object-fit: cover;
}
.restaurant__cards--img--cardinfo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 15px;
  top: 12px;
  width: 80px;
  height: 30px;
  border-radius: 2px;
  background-color: #99e2d0;
  color: #278870;
}
.restaurant__cards--info {
  display: flex;
  align-items: flex-start;
  height: auto;
  min-height: 75px;
  padding: 15px;
}
.restaurant__cards--info--text {
  width: 90%;
}
.restaurant__cards--info h4,
.restaurant__cards--info p {
  margin: 0;
}
.restaurant__cards--info h4 {
  width: 267px;
  height: 20px;
  margin-bottom: 5px;
  font-size: 18px;
}
.restaurant__cards--info p {
  height: 24px;
  font-weight: 300;
  font-size: 17px;
}
.restaurant__cards--like {
  position: absolute;
  top: 76%;
  right: 7%;
  font-size: 25px;
}

.button__like {
  width: 28px;
  z-index: 0;
  position: relative;
  font-family: "Font Awesome 5 Free";
  font-size: 25px;
  padding: 0;
  border: transparent 0px solid;
  background-color: transparent;
  -webkit-text-stroke: 1px white;
  cursor: pointer;
}
.button__like:hover::after {
  z-index: 1;
  animation: heart-fill 900ms forwards cubic-bezier(0.65, 1.01, 0.98, 1.06);
}
.button__like::after {
  z-index: -1;
  animation: heart-fill 900ms forwards cubic-bezier(1.06, 0.98, 1.01, 0.65);
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 25px;
  content: "\f004";
  color: transparent;
  background: linear-gradient(357deg, #9356dc, #ff79da);
  background-clip: text;
  transform-origin: bottom;
  -webkit-text-stroke: 1px;
}

a {
  text-decoration: unset;
  color: inherit;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  height: 186px;
  padding: 22px 25px 22px 25px;
}
@media (min-width: 1024px) {
  .footer {
    flex-direction: row !important;
    justify-content: flex-end;
    align-items: center;
    background-color: #353535;
    height: 114px !important;
    padding: 22px 25px 22px 25px;
    gap: 16px;
  }
}
.footer__text1 {
  display: flex;
  flex-direction: row;
  gap: 11px;
  margin-top: 0 !important;
}
.footer__text1--color {
  color: #ffffff;
}
.footer__text--police-color {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  margin-top: 0;
}
.footer__text2 {
  display: flex;
  flex-direction: row;
  gap: 10.08px;
}
.footer__text3 {
  display: flex;
}
@media (min-width: 1024px) {
  .footer__text3 {
    margin-left: 20px;
  }
}
.footer__icon {
  display: flex;
  margin-bottom: 15px;
}
@media (min-width: 1024px) {
  .footer__icon {
    margin-left: 100px;
    order: 5;
  }
}

#icon-color-size {
  filter: brightness(0) invert(1);
  width: 137.582px;
  height: 27px;
}

.white {
  color: #ffffff;
}

.row {
  display: flex;
  flex-direction: row;
  height: 63px;
  padding: 14px 24px 0 17px;
  gap: 42px;
  justify-content: center;
  align-items: center;
  width: auto;
}
@media (min-width: 1024px) {
  .row {
    display: flex;
    justify-content: flex-start;
    gap: 37%;
  }
}

.icons {
  display: flex;
  position: absolute;
}
@media (min-width: 1024px) {
  .icons {
    justify-content: flex-start;
  }
}
.icons__details {
  color: #353535;
  font-size: 30px;
  margin-top: -15px;
}

.title {
  display: flex;
}
.title__img--size {
  width: 80%;
}

.image img {
  object-fit: cover;
  height: 250px;
  position: relative;
  width: 100%;
}
@media (min-width: 1024px) {
  .image img {
    height: 450px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #f0f0f0;
  border-radius: 25px 25px 0px 0px;
  padding: 2% 5% 5% 5%;
  z-index: 0;
  margin-top: -30px;
  height: 1159px;
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    margin: auto;
    margin-top: -30px;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
}
.title__police {
  font-size: 27px;
  font-family: "Shrikhand";
}
@media (min-width: 1024px) {
  .title__police {
    font-family: "Shrikhand";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
  }
}
.title__button {
  width: 28px;
  z-index: 0;
  position: relative;
  font-family: "Font Awesome 5 Free";
  font-size: 25px;
  padding: 0;
  border: transparent 0px solid;
  background-color: transparent;
  -webkit-text-stroke: 1px white;
  cursor: pointer;
}

.entrees {
  display: flex;
}
.entrees__h3 {
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
}
.entrees__h3::after {
  content: "";
  position: absolute;
  left: 0%;
  bottom: 0;
  width: 60%;
  height: 3px;
  background-color: #99e2d0;
}

.entrees-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0px;
  padding: 0;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 10px 0 #d5d5d5;
  overflow: hidden;
  cursor: pointer;
  height: 69px;
}
.entrees-card:hover > .entrees-card__checkout {
  margin-right: 0px;
}
.entrees-card:hover > .entrees-card__checkout::after {
  transform: rotate(360deg);
}
.entrees-card__info {
  display: flex;
  flex: 1;
  justify-content: space-between;
  width: 100%;
  margin: 1%;
  gap: 2%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.entrees-card__description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  padding: 5px;
}
.entrees-card__description--h3 {
  margin: 3px;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}
@media (min-width: 1024px) {
  .entrees-card__description--h3 {
    margin: 0;
  }
}
.entrees-card__description--p {
  margin: 0;
  font-family: "Roboto";
  font-size: 14.043px;
  font-style: normal;
  font-weight: 300;
}
.entrees-card__price {
  display: flex;
  align-items: flex-end;
  width: 15%;
  padding: 5px;
  font-family: "Roboto";
  font-size: 15.043px;
  font-style: normal;
  font-weight: 700;
}
.entrees-card__price--p {
  margin-bottom: 0;
}
.entrees-card__checkout {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 20%;
  margin-right: -20%;
  border-radius: 0px 15px 15px 0px;
  background-color: #99e2d0;
  transition: margin-right 800ms cubic-bezier(0.63, 1.23, 0.96, 0.92);
}
.entrees-card__checkout::after {
  display: inline-block;
  margin: auto;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 25px;
  content: "\f058";
  color: #ffffff;
  transition: transform 800ms cubic-bezier(0.63, 1.23, 0.96, 0.92);
}

.plats {
  display: flex;
}
.plats__h3 {
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
}
.plats__h3::after {
  content: "";
  position: absolute;
  left: 0%;
  bottom: 0;
  width: 76%;
  height: 3px;
  background-color: #99e2d0;
}

.desserts {
  display: flex;
}
.desserts__h3 {
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
}
.desserts__h3::after {
  content: "";
  position: absolute;
  left: 0%;
  bottom: 0;
  width: 50%;
  height: 3px;
  background-color: #99e2d0;
}

.commander {
  display: flex;
  align-items: center;
  justify-content: center;
}
.commander__button {
  width: 218px;
  height: 50px;
  margin-top: 38px;
  border-radius: 25px;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  padding: 13px 18.75px;
  border: none;
  color: white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.commander__button:hover {
  transform: scale(1.02);
  opacity: 0.83;
  box-shadow: 0 4px 10px 0 #afafaf;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  height: 186px;
  padding: 22px 25px 22px 25px;
}
.footer__text1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 16px;
  gap: 11px;
}
.footer__text1--color {
  color: #ffffff;
}
.footer__text--police-color {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  margin-top: 0;
}
.footer__text2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10.08px;
}

#icon-color-size {
  filter: brightness(0) invert(1);
  width: 137.582px;
  height: 27px;
}

.white {
  color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
